/* ====== RESET ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #9b9c9cf6;
  font-family: "Times New Roman", serif;
  line-height: 1.6;
  color: #222;
  padding: 20px;
}

/* ====== PAPER LAYOUT ====== */
.paper {
  background: #fffcfc;
  width: 800px;
  margin: auto;
  padding: 50px 60px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 6px;
  position: relative;
}

/* ====== HEADER ====== */
.paper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 25px;
  font-weight: bold;
  color: #fff9f9;
}

.stamp {
  background: #111;
  color: #fff;
  padding: 4px 10px;
  border-radius: 3px;
  letter-spacing: 2px;
  font-size: 12px;
}

/* ====== TITLE BLOCK ====== */
.title-block {
  text-align: center;
  margin-bottom: 40px;
}

.title {
  font-size: 35px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.subtitle {
  font-style: italic;
  color: #777;
  margin-bottom: 10px;
  font-size: 15px;
}

.meta {
  font-size: 14px;
  color: #444;
  margin-top: 10px;
}

/* ====== STORY ====== */
.story {
  margin-top: 20px;
  font-size: 18px;
  text-align: justify;
}

.dropcap {
  float: left;
  font-size: 70px;
  line-height: 60px;
  padding-right: 10px;
  font-family: Georgia, serif;
  color: #111;
}

/* ====== STORY TEXT CONTAINER ====== */
.story-lines p {
  margin-bottom: 18px;
}

/* ====== IMAGE PLACEHOLDER ====== */
.image-placeholder {
  margin: 25px auto;
  width: 100%;
  height: 220px;
  border: 2px dashed #999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
  font-size: 18px;
  font-style: italic;
}

/* ====== FOOTER ====== */
.paper-footer {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #555;
}
